@media (max-width: 767px) {
  body {
    text-align: center;
    overflow-x: hidden;
  }

  .blur-logo {
    display: none;
  }

  .divino-1 {
    height: 140vh;
  }

  .btndivino2 {
    display: flexbox;
  }

  .divino-2-caixa h2 {
    font-size: 23px;
  }

  .divino-2-caixa {
    padding: 30px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 40px !important;
  }

  .navbar a,
  i {
    display: none;
  }
}